USE [master]
GO
/****** Object:  Database [Actividad3DPA]    Script Date: 30/11/2018 09:11:47 ******/
CREATE DATABASE [Actividad3DPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Actividad3DPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\Actividad3DPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Actividad3DPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\Actividad3DPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Actividad3DPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Actividad3DPA]
GO
USE [Actividad3DPA]
GO
/****** Object:  Table [dbo].[users]    Script Date: 30/11/2018 09:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[nickname] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[profilePic] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
